# Marks Sheet Grading Example for AI, ML and DL

In [1]:
import numpy as np
import pandas as pd

In [2]:
df1 = pd.DataFrame(np.random.randint(20,32, size=(5000,5)),
                 columns=['s1','s2','s3','s4','s5'])
df2 = pd.DataFrame(np.random.randint(33,39, size=(5000,5)),
                 columns=['s1','s2','s3','s4','s5'])
df3 = pd.DataFrame(np.random.randint(40,49, size=(5000,5)),
                 columns=['s1','s2','s3','s4','s5'])
df4 = pd.DataFrame(np.random.randint(50,59, size=(5000,5)),
                 columns=['s1','s2','s3','s4','s5'])
df5 = pd.DataFrame(np.random.randint(60,69, size=(5000,5)),
                 columns=['s1','s2','s3','s4','s5'])
df6 = pd.DataFrame(np.random.randint(70,79, size=(5000,5)),
                 columns=['s1','s2','s3','s4','s5'])
df7 = pd.DataFrame(np.random.randint(80,100, size=(5000,5)),
                 columns=['s1','s2','s3','s4','s5'])

df = pd.concat([df1,df2,df3,df4,df5,df6,df7])



df.head()

   s1  s2  s3  s4  s5
0  27  20  28  23  23
1  28  23  21  22  23
2  21  27  30  22  23
3  24  29  24  20  26
4  29  22  27  24  27

In [3]:
df['obtained'] = df.s1 + df.s2 + df.s3 + df.s4 + df.s5
df.head()

   s1  s2  s3  s4  s5  obtained
0  27  20  28  23  23       121
1  28  23  21  22  23       117
2  21  27  30  22  23       123
3  24  29  24  20  26       123
4  29  22  27  24  27       129

In [5]:
df['percentage'] = df.obtained / 500 * 100
df.head()

   s1  s2  s3  s4  s5  obtained  percentage
0  27  20  28  23  23       121        24.2
1  28  23  21  22  23       117        23.4
2  21  27  30  22  23       123        24.6
3  24  29  24  20  26       123        24.6
4  29  22  27  24  27       129        25.8

# apply Symbolic AI, Classicial programming, tranditional programming, Rules Based programmin
- Rules always define by programmer

- Rules + Input = Output

In [6]:
def grade(x):
    if x >= 80:
        return "A+"
    elif x >= 70:
        return "A"
    elif x >= 60:
        return "B"
    elif x >= 50:
        return "C"
    elif x >= 40:
        return "D"
    elif x >= 33:
        return "E"
    else:
        return "F"
    
df['Grade'] = df.percentage.apply(grade)
df.head()

   s1  s2  s3  s4  s5  obtained  percentage Grade
0  27  20  28  23  23       121        24.2     F
1  28  23  21  22  23       117        23.4     F
2  21  27  30  22  23       123        24.6     F
3  24  29  24  20  26       123        24.6     F
4  29  22  27  24  27       129        25.8     F

In [ ]:
df.Grade.value_counts()

In [ ]:
df.corr().plot(kind='bar')

In [ ]:
dic = {
    'F':7,
    "E":6,
    "D":5,
    "C":4,
    "B":3,
    "A":2,
    "A+":1
}
df['Grade1'] = df.Grade.map(dic)
df.head()

In [ ]:
df.corr().plot(kind='bar')

# Find Grades(Rules) with Deep Learning
- input + Output = Rules

In [ ]:
df1 = df[['s1', 's2', 's3', 's4', 's5', 'Grade']]
df1.head(2)
df1 = df1.sample(frac=1)
df1

In [ ]:
X = df1.loc[:, 's1':'s5']
X.head()

In [ ]:
Y = df1[['Grade']]
Y.head()

# Vectorization to Y
- one-hot-encoding

    A B C
A   1 0 0
B   0 1 0
C   0 0 1

In [ ]:
Y = df1['Grade']
Y = pd.get_dummies(Y)
Y.head()

In [ ]:
Y.drop_duplicates()

   s1 s2 s3 s4 s5     A   A+  B  C   D   E   F 
[[98,56,79,90,50]] = [.3, .1,.20,.1, .1, .1, .1]

##### import some fundamentals lib

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.optimizers import Adam, SGD

Create your model network structure
- first-layer (input_shape = X.no_of_columns)
- last-layers (output=Y.unique_labels(unique classes))
    - activation = according to your problems (4.6)
- Dense(output, )

In [ ]:
model = Sequential()
model.add(Dense(32, activation='relu', input_shape=(5,)))
model.add(Dense(16, activation='relu', input_shape=(5,)))
model.add(Dense(7, activation='softmax'))

In [ ]:
model.summary()

In [ ]:
# select loss function based on your problems

model.compile(optimizer=SGD(lr=0.002),
             loss='categorical_crossentropy',
             metrics=['acc'])

In [ ]:

model.fit(X, Y, epochs=30)

In [ ]:
df1 = pd.DataFrame(np.random.randint(20,100, size=(20,5)),
                  columns = ['s1','s2','s3','s4','s5'])

df1.head()

In [ ]:
Y.columns.take(np.argmax(model.predict([[90,98,95,97,95]]), axis=1))

In [ ]:
df1['predict']=Y.columns.take(np.argmax(model.predict(df1.loc[:,'s1':'s5']), axis=1))
df1

# Find Grades(Rules) With Machine Learning

In [ ]:
# Load libraries
from sklearn.tree import DecisionTreeClassifier # Import Decision Tree Classifier
from sklearn.model_selection import train_test_split # Import train_test_split function
from sklearn import metrics #Import scikit-learn metrics module for accuracy calculation

In [ ]:
#split dataset in features and target variable
feature_cols = ['percentage']
X = df[feature_cols] # Features
y = df.Grade # Target variable

In [ ]:
X.head(1)

In [ ]:
y.head(1)

In [ ]:
# Split dataset into training set and test set
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=1) # 70% training and 30% test

In [ ]:
# Create Decision Tree classifer object
clf = DecisionTreeClassifier()

In [ ]:
# Train Decision Tree Classifer
clf = clf.fit(X_train,y_train)

In [ ]:
#Predict the response for test dataset
y_pred = clf.predict(X_test)

In [ ]:
# Model Accuracy, how often is the classifier correct?
print("Accuracy:",metrics.accuracy_score(y_test, y_pred))

In [ ]:
from sklearn import tree
import matplotlib.pyplot as plt

In [ ]:
plt.figure(figsize=(15,10))
tree.plot_tree(clf, filled=tree, class_names=True,
              fontsize=8)